@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap');
body {
  margin: 0;
  font-family: 'Ibarra Real Nova', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 2px 1px rgb(136, 0, 0);
}

code {
font-family: 'Ibarra Real Nova', serif;
}
