@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #b6e9e9 #ffffff;
  user-select: none;
}
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #b6e9e9;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  background-image: url("./back.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  border-radius: 5px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  transition: 0.3s;
}

.container:hover {
  box-shadow: 7px 7px 17px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.title {
  margin: 0px 0px 10px;
  text-align: center;
}

.subtitle {
  display: inline-block;
  margin: 10px 30px -10px;
  opacity: 0.8;
}

.header {
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 30px 20px;
}

.header input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 50px;
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}

.header input:focus {
  outline: none;
}

.user-list {
  background-color:  rgba(255, 255, 255, 0.9) ;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
}

.user-list li {
  display: flex;
  padding: 20px;
  transition: 0.3s;
}

.user-list li:hover {
  background-color: rgb(241, 235, 235);
  padding: 26px;
}

.user-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.user-list .user-info {
  margin-left: 10px;
}

.user-list .user-info h4 {
  margin: 0 0 10px;
}

.user-list .user-info p {
  font-size: 12px;
}

.user-list li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

.user-list li.hide {
  display: none;
}
