@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Fira+Sans&family=Montserrat:wght@300&family=Oswald:wght@500&display=swap');


* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(circle, #62447d, #5e4e86, #59578d, #556094, #526899);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.square {
  background-color: #000000;
  box-shadow: 0 0 2px rgb(127, 76, 76);
  height: 15px;
  width: 16px;
  margin: 2px;
  transition: 4s ease;
}

.main{
  top: -5%;
  position: relative;
  text-align: center;
}

.title{
  font-family: 'Oswald', sans-serif;
  text-shadow:
  0 0 2px rgb(255, 255, 255),
  0 0 1px rgb(127, 76, 76),
  0 0 2px #fff,
  0 0 40px rgb(30, 29, 29),
  0 0 80px rgb(222, 212, 212),
  0 0 5px rgb(127, 76, 76),
  0 0 5px rgb(255, 255, 255),
  0 0 150px rgb(247, 247, 247);
  color: rgb(0, 0, 0);
}

.square:hover {
  transition-duration: 0s;
}
